
<footer>
    <div class="container">
      <div class="fl-row">
        <div>
          <h3>Menu</h3>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Login / Register</a></li>
            <li><a href="">Journal</a></li>
            <li><a href="">ML Chart</a></li>
          </ul>
        </div>
        <div>
          <h3>Resources</h3>
          <ul>
            <li><a href="">Legal and Policies</a></li>
            <li><a href="">Security and Compliance</a></li>
          </ul>
        </div>
        <div></div>
        <div>
          <h3>UPOU</h3>
          <a href="#" class="btn btn-invert">Contact Us</a>
          <p>You are always welcome to provide feedback</p>
        </div>
      </div>
  
      <div class="fl-row">
        <div class="copyright">Copyright &copy; 2023</div>
      </div>
    </div>
  </footer>
  