<div class="main-container">
    <header>
        <div class="container">
        <h1 class="logo">
            <a routerLink="/" routerLinkActive="active">Journal</a>
        </h1>
        </div>
    </header>


    <div class="container ">

        <div class="login-container">
            <h2>Welcome Back!</h2>
            <app-login></app-login>
        </div>

        <div class="register-reminder btn reminder-outline">
            <span>Don't have an account?</span>&nbsp;
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </div>


    <!-- <app-footer></app-footer> -->
</div>
