<h2 class="error" *ngIf="showErrorMessage">Error Saving Trade</h2>
<table class="trade_table">
    <thead>
        <tr class="trade_row">
            <th>Date</th>
            <th>Symbol</th>
            <th>Entry</th>
            <th>Amount</th>
            <th>Gross</th>
            <th *ngIf="!isClosedTrade">Target</th>
            <th *ngIf="!isClosedTrade">Stop</th>
            <th *ngIf="!isClosedTrade">Potential Profit</th>
            <th *ngIf="!isClosedTrade">Potential Loss</th>
            <th *ngIf="isClosedTrade">Sell Price</th>
            <th *ngIf="isClosedTrade">Profit / Loss</th>
            <th *ngIf="isClosedTrade">%</th>
            <th>Direction</th>
        </tr>
    </thead>
    <tbody>
            <tr class="trade_row" *ngFor="let trade of tradelist">
                <td>{{trade.created_date | date}}</td>
                <td class="symbol">
                    <span (click)="openEditDialog(trade.id)">{{trade.symbol}}</span>
                </td>
                <td>{{trade.entry_price}}</td>
                <td>{{trade.amount  | number}}</td>
                <td>{{computeGross(trade.entry_price, trade.amount)  | number}}</td>
                <td *ngIf="!isClosedTrade">{{trade.target_price}}</td>
                <td *ngIf="!isClosedTrade">{{trade.stop_price}}</td>
                <td *ngIf="!isClosedTrade">{{computeProfit(trade.entry_price, trade.target_price, trade.amount)  | number}}</td>
                <td *ngIf="!isClosedTrade">{{computeLoss(trade.entry_price, trade.stop_price, trade.amount)  | number}}</td>
                <td *ngIf="isClosedTrade">{{trade.sell_price}}</td>
                <td *ngIf="isClosedTrade">{{computeProfit(trade.entry_price, trade.sell_price, trade.amount)  | number}}</td>
                <td *ngIf="isClosedTrade">{{computeProfit(trade.entry_price, trade.sell_price, trade.amount) / computeGross(trade.entry_price, trade.amount)  | percent:'1.2'}}</td>
                <td>{{trade.direction}}</td>
            </tr>
    </tbody>
</table>

<button class="btn btn-primary" (click)="openNewDialog()" *ngIf="!preview">Add Row</button>