<div class="main-container">
    <header>
        <div class="container">
            <h1 class="logo">
                <a routerLink="/" routerLinkActive="active">Journal</a>
            </h1>
        </div>
    </header>

    <div class="container middle-container">

        <div class="register-container">
            <h2>Create an account</h2>
            <app-register></app-register>
        </div>

        <div class="register-reminder btn reminder-outline">
            <span>Already have an account?</span>&nbsp;
            <a routerLink="/login" routerLinkActive="active">Sign In</a>
        </div>

    </div>

    <!-- <app-footer></app-footer> -->
</div>
