<app-header></app-header>

<div class="main-container">
    <div class="chart-container">
        <aside id="sidenav">
            <form [formGroup]="form" class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Symbol</mat-label>
                    <input matInput placeholder="Type and wait..." [matAutocomplete]="auto" formControlName="symbol" #symbol>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                        *ngFor="let option of filteredOptions | async"
                        [value]="option"
                        >{{ option }}</mat-option
                        >
                    </mat-autocomplete>

                    <mat-error>Symbol is required</mat-error>
                </mat-form-field>

                <button [disabled]='analyzing' mat-raised-button id="analyze" [class]="buttonClasses()" (click)="onAnalyze()">
                    <mat-icon aria-hidden="false" aria-label="sync" fontIcon="sync"></mat-icon>Analyze
                </button>
            </form>

            <div class="help">
                <mat-icon aria-hidden="false" aria-label="help" fontIcon="help"></mat-icon>
                Type a symbol and wait, or select from the company list below
            </div>

            <ul id="stocklist" >
                <li *ngFor="let stock of stocks.data; let i = index" [class]="listClasses()" (click)="onSelectCompany(stock.symbol)">
                    <span class="companyname">
                        {{stock.companyname | slice:0:25}}
                    </span>
                </li>
            </ul>
            
        </aside>

        <aside class="chart-content">
            <iframe #iframe type="text/javascript" frameborder="0" scrolling="yes"></iframe>

            <div id="spinner" *ngIf="analyzing">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </aside>

    </div>
</div>


<app-footer></app-footer>